body {
  font-family: "Source Code Pro", monospace;
  background-color: #0f0f23;
  background-image: none;
  color: #cccccc;
  text-shadow: none;
}

.content {
  width: 125%;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

span.star {
  color: #ffff66;
}