/* Nav-bar */
/* ===================================================== */

.navbar {
  background-color: #0f0f23;
  color: #00cc00;
}

.navbar-title, .menu-text {
  text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
}

.navbar-title, .menu-text {
  text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
}

.navbar-title, .nav-link.active .menu-text {
  text-shadow: 0 0 2px #ffffff, 0 0 5px #ffffff;
}

.navbar-nav .nav-link.active {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

.nav-link {
  color: #00cc00;
}

/* Nav-tabs */
/* ===================================================== */
/* Day tabs */
.nav-tabs .nav-link {
  color: #cccccc;
}

.nav-tabs .nav-link.active {
  color: #00cc00;
  background-color: #0f0f23;
  border-bottom: 2px solid #00cc00;
}

/* Language tabs */
.language-set .nav-tabs .nav-link {
  font-size: 30pt;
  color: #9999cc;
}

.language-set .nav-tabs .nav-link.active {
  color: #ffff66;
  border-bottom: 3px solid #ffff66;
}