.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

# local render destination
docs/

# generated content
index.qmd
nav.qmd
# individual days
[0-9].qmd
[1-2][0-9].qmd

# puzzle inputs
input/

# README preview
README.html
README_files/

# Caching
*cache*

*unpublish*
*unsolved*
*demo*
