.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

# local render destination
docs/

# cached chunk results
content_cache/

# generated content
content.qmd
index.qmd

# puzzle inputs
input/

# README preview
README.html
README_files/