project:
  type: website
  output-dir: docs
  pre-render: generate_content.R

website:
  navbar:
    left:
      - href: index.qmd
        text: "Home"
      - 2023/1.qmd
      - 2024/1.qmd
      - 2025/1.qmd

    tools:
      - icon: github
        menu:
          - text: Source Code
            href:  https://github.com/davidfoord1/advent-of-code
          - text: Raise an issue
            href:  https://github.com/davidfoord1/advent-of-code/issues

  back-to-top-navigation: true

format:
  html:
    theme: vapor
    css:
      - styles/body.css
      - styles/nav.css
      - styles/day-nav.css
      - styles/lang-nav.css
      - styles/code.css
    code-link: true
    code-copy: hover
    code-overflow: wrap
