body {
  font-family: "Source Code Pro", monospace;
  background-color: #0f0f23;
  background-image: none;
  color: #cccccc;
  text-shadow: none;
}

.content {
  width: 125%;
  justify-self: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  margin-top: 5pt;
}

span.star {
  color: #ffff66;
}

#quarto-back-to-top {
  color: #eeeeee;
  font-size: 14pt;
}

.tab-content {
  padding-top: 0px;
}