pre code {
  font-family: "Source Code Pro", monospace;
  text-shadow: none;
  color: #cccccc;
  border: 1px solid #333340;
  background: #10101a;
  font-size: 14pt;
}

/* code-linked functions */
code a {
  text-shadow: none;
  color: #22bbee;
}

/* Comments */
code span.co {
  font-style: normal;
  color: #bbddbb;
}

/* Functions */
code span.fu, code span.bu {
  color: #22bbee;
  text-shadow: none;
}

/* Keywords */
code span.kw, code span.cf {
  color: #9999cc;
  font-weight: normal;
}

/* Operators */
code span.op, code span.ot {
  color: #ffff66;
}

/* Strings */
code span.st, code span.str {
  color: #00cc00;
}

/* Numeric/logical */
code span.fl, code span.cn {
  color: #e3b585;
}

p pre code:not(.sourceCode), li pre code:not(.sourceCode), pre code:not(.sourceCode) {
  background: #10101a;
}