/* Nav-bar */
/* ===================================================== */

.navbar {
  background-color: #0f0f23;
  color: #ffffff;
}

.navbar-title, .menu-text {
  text-shadow: 0 0 2px #ffffff, 0 0 5px #ffffff;
}

.navbar-title, .menu-text {
  text-shadow: 0 0 2px #ffffff, 0 0 5px #ffffff;
}

.navbar-title, .nav-link.active .menu-text {
  text-shadow: 0 0 2px #ffffff, 0 0 5px #ffffff;
}

.navbar-nav .nav-link.active {
  color: #ffffff;
  border-bottom: 2px solid #ffff66;
}

.nav-link {
  color: #ffffff;
}